body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", "Courier", monospace;
  background-color: #FAFAFA;
}

audio {
  width: 100%;
}

.visualization {
  background-color: #FAFAFA;
  width: 100%;
  min-height: 300px;
}

.visualization-canvas {
  height: 100%;
  min-height: 300px;
}

.main-container.grid {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .main-container.grid {
    margin-top: 160px;
  }
  .card {
    min-width: 300px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.card {
  border: 1px solid #666666;
  width: 200px;
  margin: 20px 0px;
  position: relative;
}

.card:hover {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

img.card-thumbnail {
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid black;
}

img.source-icon {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  border-radius: 999px;
  margin: 10px;
}

.card-title {
  padding: 6px;
}

.search-bar {
  width: 100%;
}

#logo-container {

}

#logo {
  font-size: 1.2em;
  padding: 8px;
}

#search-input {
  border: 1px solid rgba(0,0,0,0.50);
  padding: 12px;
  margin: 12px 0px;
  width: 100%;
}

#search-input:hover {
  border: 1px solid rgba(0,0,0,1);
}

#nav-bar {
  text-align: center;
  position: fixed;
  min-width: 100%;
  z-index: 999;
  border-bottom: 1px solid black;
  background-color: white;
  top: 0px;
}
/*
.appBar .navBar .search-bar > [data-react-toolbox="progress-bar"] {
  padding-top: 40px;
  color: black;
}*/
