body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.visualization {
  background-color: white;
  width: 100%;
  min-height: 300px;
}

.visualization-canvas {
  height: 100%;
  min-height: 300px;
}

.main-container {
  padding-top: 100px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.navBar {
  padding-top: 10px;
}

.appBar {
  position: fixed;
  width: 100%;
}

.style__card___1QRTe {
  width: 25% !important;

.appBar .navBar a {
  color: white;
}

.cardsContainer > [data-react-toolbox="card"] {
  width: 20%;
}

#app div > [data-react-toolbox="app-bar"] {
  background-color: white;
}

.appBar .navBar .search-bar > [data-react-toolbox="progress-bar"] {
  padding-top: 40px;
}

.appBar .navBar > [data-react-toolbox="button"] {
  background-color: #ff4081;
}

.fixed {

}
/*.style__circular___2yZZn {
  padding-top: 40px !important;
}*/
